 
.profile_man {
  
  background-size: cover;
 background-attachment: fixed;
 background-position: center;
border: 1px solid;
  left: 0;
  width: 100%;
  height: 100%;
  overflow:auto;
 position: fixed;
align-items: center;
text-align: center;

}
.text_profile{
  font-size:28px;
   color: #000;
  font-weight: 500;
  margin-top: 18px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
 
 
.Data_man{
  width: 48%;
  border:2px solid #000;
  overflow: hidden;
align-items: center;
  height:60%;
  margin-top:60px;
  background: white;
  margin-left: 26%;
 }
 .Datas_man{
  width: 48%;
  border:2px solid #000;
  overflow: hidden;
align-items: center;
  height:64%;
  margin-top:60px;
  background: white;
  margin-left: 26%;
 }
 .maq_lines{
   float: right;
  width: 38px;
 margin-top: -99px;
 
background: #4d76e7cb; 
 height: 100vh;
 
 }
 .masq_lines{
  width: 38px;
 background: #6b89dd1c;
 margin-top: -99px;

float: right;
 height: 100vh;
 }
 .QQ{
  margin-top:20px;
  margin-right:29px;
  float: right;
}
.QQQ{
  margin-top:20px;
  margin-right:120px;
  float: right;
}
.AA{
  float: right;
  font-size: 16px;
  direction: rtl;
  margin-left: 12px;
  font-weight: bold;
  color: black;
    }
   
          
  .Aa{
     font-weight: 500;
     font-size: 16px;
    color: black;
    direction: rtl;
      
    }
     
 .dataliines{
  width: 1px;
  height:188px;
  border-left: 1px solid #3b3333;
   float: left;
   margin-top: -140px;
  margin-left: 270px;
 }

.dataqlines{
  width: 1px;
  height:177px;
  border-left: 1px solid #3b3333;
   float: left;
   margin-top: -125px;
  margin-left: 270px;
}
 
.line_titlies {
  width:325px;
  margin-left: 142px;
  margin-top: 5px;
 color: #000; 
}
.mern{
float: right;
direction: rtl;
margin-top: 20px;
margin-right: 20px;
}
.ss{
  font-size: 16px;
  margin-right: 44px;
  
  font-weight: bold;
  color: black;
}
 
.ww{
  
   font-size: 16px;
  direction: rtl;
 margin-right: -42px;
  font-weight: bold;
  color: black;
}
.dataqliness{
  width: 1px;
  height:257px;
  border-left: 1px solid #3b3333;
  float: left;
  margin-top: -210px;
  margin-left: 270px;
 }