.Header_std{
    background-color: #4d76e7cb;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    opacity: 99%;
       text-align: center;
    z-index: 100;
    height: 60px;
     } 
.Header_stds{
      align-items: center;
       display: flex; 
       text-align: center;
      justify-content:space-evenly;
}

.Header_stds >span{
    font-size: 28px;
    font-weight: bolder;
     font-family:  DecoType Naskh Variants;
     padding: 5px;
     color: #0f0e0b;
}
.Header_imgs{
    width:54px;
    border: 2px solid #0f0e0b ;
    position: relative;
margin-right: 5px;  
  float: right;
} 

.header-ri{
    display: flex;

}
.header-info{
    display: flex;
    align-items: center;
    text-align: center;
  }
.header-info >h4{
margin-left: 4px;
align-items: center;
text-align: center;
margin-right: 4px;
font-size:17px;
font-weight: bolder;

}
.header-right{
  display: flex;
  flex: 1;
} 
.header-option {
    color: rgb(19, 1, 19);
    display: flex;
    align-items: center;
    padding: 0 8px;
    margin:2px;
         opacity: 100%;
    cursor: pointer;
} 
.header-option:hover > .MuiSvgIcon-root  {
    color: rgb(73, 70, 69);
    border-radius: 10px;
    padding: 0 20px;
    align-items: center;
    border-bottom: none;
} 
.header-option--active > .MuiSvgIcon-root {
    color: rgb(199, 37, 8);
    border-bottom:3px solid rgb(68, 68, 70);
} 

 