.component{
    display: flex;
    flex-direction: column;
    min-width: 10px;
    background: #ffffff;
    margin: 10px;
      z-index: 1;
      border: 2px solid #080808;
     padding: 10px;
     width:94%;
     position: relative;
     word-wrap: break-word;
       }
     
   .proo{
    direction: rtl;
     float: right;
    padding-right: 6px;
 }
 .component >img{
    margin-top:1px;
    min-width: 20px;
    align-items: center;
    object-fit: contain;
 
    }
 
.header-opt{
 color: rgb(3, 3, 3);
    display: flex;
  font-size:20px;
    cursor: pointer;
    direction: rtl;
    padding-right: 12px;
    float: right;
 }
 .header-optss{
   color: rgb(3, 3, 3);
   display: flex;
   font-weight: bold;
 font-size:15px;
   cursor: pointer;
   margin-left: 33px;
   direction: rtl;
   padding-right: 12px;
   float: right;
 }