.tablee{
    width:90%;
    align-items: center;
      direction: rtl;
       border-collapse: collapse;
      background-color: #df953331;
      text-align: right;
        border-spacing: 0;
margin-top: 22px;
margin-right: 63px;
float: right;

      } 
.rwoss{
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #000;
    font-weight: bold;
    border: 1px solid #000;
  }
  td, th {
    border: none;
   
  }
 
  tr:nth-child(even){background-color:white
;
text-align: center;}

 
th, td {
    padding: 5px;
    text-align: right;
    text-align: center;
   
  }
  .th {
    height: 44px;
   align-items: center;
    background-color: #DF9433;
     font-size: 18px;
    color: rgb(0, 0, 0);
     
  }
  .thz {
    height: 44px;
   align-items: center;
    background-color: #DF9433;
    text-align: center;
     font-size: 18px;
    color: rgb(0, 0, 0);
     
  }

  .ths {
    height: 44px;
   align-items: center;
   
    text-align: center;
    font-size: 18px;
    color: rgb(0, 0, 0);
     
  }
 
 
  tr:hover {background-color: #98f55a5d;}
  
 @media (main-with:600px) {
   
 }
 @media (main-with:800px) {

}