.class_manger {
  width: 100%;
  height: 85%;
  position: fixed;
  margin-top: 120px;
top: -1px;
  overflow: auto;
  background-color: #df953315;

  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.form_classs {
  margin-top: 40px;
  margin-left: 330px;
  align-items: center;
  float: center;
  width: 700px;
  overflow: auto;
  border: 1px solid;
  height: 443px;
background: white;
}
.man_verticalss1{
   width:32px;
   height: 441px;     float: right;
   background-color: #DF9433;

   margin-top:-83px;
    display: flex;
   border-color:#707070 ;
}
.ins_boxs{
  margin-right: 2px;
}
.man_verticalss2{
   width:32px;
   height: 441px; 
   float: right;
   background-color: #df953359;
   margin-top:-83px;
   display: flex;
    border-color:#707070 ;

}
.text_ins_stds{
    font-size: 25px;
  font-family: Curlz MT;
  text-align: center;
font-weight: 800px;

  padding-top: 15px;
}
.linename_titlese{
    width: 455px;
    margin-left: 138px;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
   
   
}
.boxe_nmae{
    width: 220px;
    font-size: 15px;
     height: 35px;
     padding: 3px;
     color: #000;
     margin-top: 44px;
     float: right;
     margin-right: 60px;
     border: 1px solid #000000;
     text-align: right;
  }
 
 .names_boxessa1{
    width: 220px;
    font-size: 15px;
     height: 35px;
    color: #000;
    margin-top: 90px;
   float: right;
    text-align: right;
    margin-right: -230px;
    border: 1px solid #080808fd;
 padding: 3px;
 }
 .name_boxesss1{
    width: 220px;
    font-size: 15px;
     height: 35px;
    color: #000;
    margin-top: -40px;
    float: right;
    text-align: right;
    border: 1px solid #080808fd;
 padding: 3px;
margin-bottom: 22px;
margin-right: 320px;
 }
 .names_boxesss2{
   width: 220px;
   font-size: 15px;
   
    height: 35px;
   color: #000;
   float: right;
   text-align: right;
   border: 1px solid #080808fd;
padding: 3px;
margin-bottom: 30px;
margin-right: 320px;
 }
 .boxess3{
    width: 220px;
    font-size: 15px;
     height: 35px;
    color: #000;
    padding: 3px;
    border: 1px solid #080808fd;
     float: center;
    margin-right: 185px;
    float: right;
    text-align: right;
 }
 .name_sendss{
    width: 220px;
    font-size: 18px;
 margin-top:20px;
    height: 44px;
  border: none;
  margin-right: 190px;
  float: right; font-weight: bold;
  font-family: Segoe UI;
  border: 1px solid #080808fd;
    text-align: center;
    background-color: #DF9433;
  }
 
 
.verticallss{
    width: 1px;
    float: left;
 margin-top: -220px;
   margin-left: 30px;
    height: 390px;
    background-color: #000000ee;
}
 