 table{
     border:2px solid;
     text-align: right;
      font-weight: bold
 }
 .bar{
   background-color: #4d76e7b6;
   height: 53px;
 }
 .table_data{
    width: 100%;
 }
 .rights {
     margin-top: 0px;
   padding: 2px;
     
     ;
     text-align: right;
  width: 440px;
 }
 .rightss{
     font-size: 24px;
     font-weight: bold;
     text-align: right;
 }
.standard-basic{
   font-size: 22px;
   height: 33px;
   font-family: 'Times New Roman', Times, serif;
   margin-right: 12px;
   border: none;
    padding: 5px;
    flex: 1;
}
 .student_dataaa{
text-align: center;
margin-top: 10px;
    }
 .searchs{
        display: flex;
        flex: 1;
border: 1px solid black;
font-size: 12px;
margin-right: 12px;
    align-items: center;
 }
 .divs{
 display: flex;
    background: rgb(247, 243, 243);
    height:53px;
    box-shadow: 0px 5px 8px -9px #686764;
border: 1px solid;
    align-items: center;
    display: flex;
    width:100%;
  }
 .table_class{
    width:100%;
    align-items: center;
      direction: rtl;
      float: right;
      border-collapse: collapse;
      background-color: #df953331;
      text-align: right;
 
   margin-left: 20px;
      border-spacing: 0;
 }
 