 
        .level_1{
      width: 270px;
      font-size: 15px;
       height: 40px;
       padding: 3px;
       color: rgb(0, 0, 0);
         
   }
     .boxess3{
      width: 220px;
      font-size: 15px;
       height: 38px;

      color: #000;
      
   }
   .insert_teacher{
    padding-right: 360px; 
    align-items: center;
    text-align: center;
 
}
 /* insert class*/

.ins_form{
     align-items: center;
     text-align: center;
    border: 1px solid;
     width: 660px;
    margin-top:33px;
    overflow: hidden; 
    float: right;
     height: 420px;
     background-color:#fcd7a723; 
    }
.ins_title{
    align-items: center;
    float: center;
    font-size: 28px;
font-weight: bolder;
   margin-top: 19px;
    color: #000;
    font-size: 19px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   font-weight: 800px;
 }
 .line_title{
  width: 360px;
  margin-left: 154px;
  background-color: #000000;
  align-items: center;
}

   .sendss{
      width: 200px;
      font-size: 18px;
   margin-top:22px;
      height: 44px;
      border: 1px solid #000000;
     color: #000;
     font-weight: 700;
    font-family: Segoe UI;
      text-align: center;
      background-color: #4d76e7cb;
    }
   
   
  .verticalss{
      width: 1px;
      float: left;
  margin-top: -320px;
     margin-left: 32px;
      height: 333px;
      background-color: #000000fd;
  }
  .boxes_marks{
   width: 288px;
   font-size: 15px;
   height: 40px;
    font-weight: bold;

     padding: 3px;
   border: 1px solid #080808ef;
      direction: rtl;
   text-align: right;
 }
 .ins_box{
  align-items: center;
  margin-top:40px;
  margin-left: 40px;
  text-align: center;
}

.opt{
  font-size: 15px;
}


.vertical1{
 width:32px;
 height: 100vh;    float: right;
 background-color: #4d76e7cb;

 margin-top:-80px;
  display: flex;
 border-color:#707070 ;
}
.vertical2{
 width:32px;
 height: 100vh;
 float: right;
 background-color: #6b89dd1c;
 margin-top:-80px;
 display: flex;
  border-color:#707070 ;

}

