.exam{
    max-height: 100%;
      height: 100px;
      border: 2px solid;
      top: 0;
   align-items: center;
    height:500px;  
      width: 22%;
      overflow: auto;
margin-top: 10px;   
   margin-right:7px;
      float: right;

  }
   
  .homework_s{
      
      
    text-decoration: center;
     direction: center;
   float: right;
   margin-right: 45px;
     margin-top: 12px;
     font-size: 20px;
  }
  .homeworks{
       width: 100%;
       background-color: #DF9433;
       align-items: center;
      height: 56px;
      border: 1px solid;
  text-decoration: center;
  }
   
  .homework{
      display: block;
       font-weight: bold;
       margin-top: -20px;
      float: right;
      direction: rtl;
      color: #000;
      
      font-size: 18px;
  }
   
  ul.homework {
          width: 100%;
       direction: rtl;
          list-style-position: inside;
  }
    .homework_li{
       direction: rtl;
       float: right;
       margin-top: 5px;
      width: 100%;
      padding-right: 7px;
      padding-top: 6px;
        text-align: right; 
        border: 1px solid rgba(81, 83, 82, 0.034);
      height: 55px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;     background-color: #df953348;
      color: rgba(0, 0, 0, 0.952);
     } 
    li:hover {
        background-color: #DF9433;
    }
    
    .din{
        float: left;
        border:2px solid #000;
        width: 1000px;
        min-width: 10%;
       height:500px;
     margin: 15px;
     margin-left: 28px;
  

    }