 .ins_box_adc{
   
  float: right;  
   margin-top:35px;
   margin-right:42px;
   
 }
  
  
  .filedv_manger{
  width: 250px;
  height: 160px;
  text-align: right;
  float: left;
  margin-left: 33px;
  overflow: auto;
  margin-top: 34px;
  font-size: 20px;
  border: 1px solid #070707;
  
   }
  
      .sharev_manger{
      width: 210px;
      font-size: 25px;
   margin-top:30px;
      height: 44px;
      margin-right: 33px;
    border: none;
     font-family: Courier New;
      text-align: center;
      color: #000;
      border: 1px solid #070707;

      background-color: #4d76e7cb;
    }
    .boxes_marks_adv{
      width: 260px;
      font-size: 15px;
      height: 40px;
       font-weight: bold;
   
        padding: 3px;
      border: 1px solid #080808ef;
         direction: rtl;
      text-align: right;
    }