 
.filedv_mangera{
  width: 250px;
  height: 212px;
  text-align: right;
  float: left;
  margin-left: 33px;
  overflow: auto;
  margin-top: 33px;
  font-size: 20px;
  border: 1px solid #070707;
}
 
 